<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/createpost" method="post">
        <h1>Create post</h1>
        <h3>Title</h3>
        <input type="text" name="Title">
        <h3>tags:</h3>
        <input type="text" name="Tag">
        <h3>Content</h3>
        <textarea name="Content" cols="30" rows="10">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, sint voluptas veritatis tempore, alias quaerat accusantium vel, eum corporis quia ad dolor modi consequatur explicabo. Eveniet ducimus fugit doloribus vitae.
        </textarea>
        <input type="submit">
    </form>
    <a href="/">Main page</a>
</body>
</html>