<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="/registration">Registration</a>
    <a href="/post/create">Create Post</a>
    <a href="/login">login</a>

    <div>
        {{ range .Alltag}}
            <h3><a href="/tag/{{ .Title }}">{{ .Title }}</a></h3>
        {{end}}
    </div>

    {{ range .Allpost }}
    <h3><a href="/post/{{.Id}}">{{ .Title }}</a></h3>
    <hr>
    <p>{{ .Content }}</p>
    <form method="post">
        {{.Like}}<input type="number" name="Post_id" value="{{.Id}}">
        <input type="submit">
    </form>
    {{ end }}
</body>
</html>