<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/registration">Registration</a>
    <a href="/createpost">Create Post</a>
    <a href="/login">login</a>

    {{ range . }}
    <h3>{{ .Title }}</h3>
    <h4>Tag:</h4><p>{{ .Tag }}</p>
    <hr>
    <p>{{ .Content }}</p>
    {{ end }}
</body>
</html>