<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h3>{{.Post.Title}}</h3>
        <hr>
        Create time: {{.Post.Creat_at}}
        <hr>
        <p>{{.Post.Content}}</p>
        <hr>
        {{range .AllComment}}
        <div>
            
            <h4>{{.User}}</h4>
            <p>{{.Text}}</p>
        </div>
        {{end}}
        <form method="post">
            <h3>Add comment:</h3>
            <textarea name="Comment" cols="30" rows="10"></textarea>
            <button type="submit">add</button>
        </form>
    </div>
</body>
</html>